{{!-- ----------------------- --}}

{{#if agregarnovedad}}
<form action="/admin/novedades/agregar" method="post">
    <div class="formulario-admin">
        <label for="titulo">Titulo: </label>
        <input type="text" name="titulo" required>
        <br>
        <label for="subtitulo">Subtitulo </label>
        <input type="text" name="subtitulo" required>
        <br>
        <label for="contenido">Contenido </label>
        <textarea name="contenido" id="" rows="10" required></textarea>


        <button class="ml-10 pushy__btn  pushy__btn--green" type="submit">Enviar</button>
    </div>
</form>
{{/if}}

{{!-- ----------------------- --}}

{{#if agregarjuego}}
<form action="/admin/videojuegos/agregar" method="post">
    <div class="formulario-admin">
        <label for="nombre">Titulo: </label>
        <input type="text" name="nombre" required>
        <br>
        <label for="fecha_lanzamiento">Fecha de lanzamiento </label>
        <input type="date" name="fecha_lanzamiento" required>
        <br>
        <label for="descripcion">Descripcion </label>
        <textarea name="descripcion" id="" rows="10" required></textarea>
        <br>
        <label for="precio">Precio </label>
        <input type="number" name="precio" required>
        <br>
        <label for="youtube_id">Youtube ID: </label>
        <input type="text" name="youtube_id">
        <br>
        <label for="steam_id">Steam Id: </label>
        <input type="text" name="steam_id">
        <button class="ml-10 pushy__btn  pushy__btn--green" type="submit">Enviar</button>
        <br>
        <img src="/images/guia/steam_id.png" alt="">
        <img src="/images/guia/youtube_id.png" alt="">
    </div>
</form>
{{/if}}

{{!-- ----------------------- --}}

{{#if agregarGaleria}}
<form action="/admin/galeria/agregar" method="post">
    <div class="formulario-admin">
        <label for="imagen">Imagen:</label>
        <input name="imagen" id="imagen" type="file" accept="image/jpeg">
        <img class="previsualizacion">
        <label for="descripcion">Descripcion :</label>
        <input name="descripcion" type="text">
        <button class="ml-10 pushy__btn  pushy__btn--green" type="submit">Enviar</button>
    </div>
</form>
{{/if}}

{{!-- ----------------------- --}}

{{#if agregarValoracion}}
<form action="/admin/valoraciones/agregar" method="post">
    <div class="formulario-admin">
        <label for="valoracion">Valoracion: </label>
        <input type="number" id="valoracion" name="valoracion" min="0" max="10" required>
        <br>
        <label for="autor">Autor: </label>
        <input type="text" id="autor" name="autor" required>
        <br>
        <label for="rese単a">Rese単a: </label>
        <input type="text" id="rese単a" name="rese単a" required>
        <button class="ml-10 pushy__btn  pushy__btn--green" type="submit">Enviar</button>
    </div>
</form>
{{/if}}

{{!-- ----------------------- --}}
{{#if agregarEmpleado}}
<form action="/admin/nosotros/empleado/agregar" method="post">
    <div class="formulario-admin">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="apellido">Apellido: </label>
        <input type="text" id="apellido" name="apellido" required>
        <br>
        <label for="puesto">Puesto: </label>
        <input type="text" id="puesto" name="puesto" required>
        <br>
        <label for="descripcion">Descripcion </label>
        <textarea name="descripcion" id="descripcion" rows="10" required></textarea>
        <button class="ml-10 pushy__btn  pushy__btn--green" type="submit">Enviar</button>
    </div>
</form>
{{/if}}

{{!-- ----------------------- --}}

{{#if error}}
<p>{{message}}</p>
{{/if}}

{{!-- ----------------------- --}}

<script type="text/javascript" src="/javascripts/vistaprevia.js"></script>