<div id="user">
    <h4>Hola {{usuario}}</h4>
    <a href="/admin/login/logout"><button  type="button" class="btn btn-danger">Cerrar session</button></a>
</div>
<div class="holder">
    <h1>PROXIMAMENTE</h1>
</div>