h1 {
    text-align: center;
    text-decoration: underline overline;
    font-size: 100px;
    background: rgba(118, 118, 118, 0.36);
    background: linear-gradient(180deg, rgba(118, 118, 118, 0.36) 30%, rgba(255, 0, 20, 0) 50%, rgba(40, 40, 40, 0.4) 80%);
    background: -webkit-linear-gradient(180deg, rgba(118, 118, 118, 0.36) 30%, rgba(255, 0, 20, 0) 50%, rgba(40, 40, 40, 0.4) 80%);
    background: -moz-linear-gradient(180deg, rgba(118, 118, 118, 0.36) 30%, rgba(255, 0, 20, 0) 50%, rgba(40, 40, 40, 0.4) 80%);
}

h2 {
    text-decoration: 5px underline;
    text-align: center;
    font-size: 80px;
}

h3 {
    text-decoration: 5px underline;
    text-align: center;
    font-size: 50px;
}

h4 {
    text-decoration: 5px underline;
    text-align: center;
    font-size: 20px;
}

.body {
    border: solid black;
    padding: 1px;
    background: rgba(118, 118, 118, 0.36);
    background: linear-gradient(180deg, rgba(118, 118, 118, 0.36) 20%, rgba(255, 0, 20, 0) 50%, rgba(40, 40, 40, 0.4) 80%);
    background: -webkit-linear-gradient(180deg, rgba(118, 118, 118, 0.36) 20%, rgba(255, 0, 20, 0) 50%, rgba(40, 40, 40, 0.4) 80%);
    background: -moz-linear-gradient(180deg, rgba(118, 118, 118, 0.36) 20%, rgba(255, 0, 20, 0) 50%, rgba(40, 40, 40, 0.4) 80%);
}

.imagen {
    display: block;
    margin: 0px auto;
    border-radius: 50px;
    box-shadow: 4px -4px 44px -9px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 4px -4px 44px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px -4px 44px -9px rgba(0, 0, 0, 1);
}

.info {
    column-count: 2;
    width: 600px;
    margin-inline: auto;
    font-size: 30px;
}

.info .sinmargen{
    margin-top: 0%;
}

.adicional {
    width: 600px;
    margin-inline: auto;
    font-size: 25px;
}

#contacto {
    margin: auto;
    text-align: center;
}