<div class="galeria">
    <img src="images/galeria/1.jpg" alt="">
    <img src="images/galeria/2.jpg" alt="">
    <img src="images/galeria/3.jpg" alt="">
    <img src="images/galeria/4.jpg" alt="">
    <img src="images/galeria/5.jpg" alt="">
    <img src="images/galeria/6.jpg" alt="">
    <img src="images/galeria/7.jpg" alt="">
    <img src="images/galeria/8.jpg" alt="">
    <img src="images/galeria/9.jpg" alt="">
    <img src="images/galeria/10.jpg" alt="">
</div>