<div class="holder">
    <div class="historia">
        <h1>Historia</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quos laborum nulla, vero cum, modi
            est placeat obcaecati odio alias sed accusantium voluptas. Quis, excepturi cupiditate atque adipisci
            suscipit eum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil odio fugiat nemo ut
            voluptas vero! Modi soluta praesentium a, vero blanditiis nam rem, cum itaque nemo atque, accusantium
            minima culpa!
        </p>
    </div>
    <div class="equipo">
        <h1> Equipo de desarrollo</h1>
        <ul class="personas">
            <li>
                <img src="images/emp/1.jpg" alt="">
                <h2> Nombre 1</h2>
                <h3> Puesto </h3>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat iste quas, tenetur earum,
                    eligendi blanditiis nostrum provident architecto quidem nam reiciendis modi nihil tempore
                    consequatur. Tenetur voluptatibus ducimus consectetur ipsa? </p>
            </li>
            <li>
                <img src="images/emp/2.png" alt="">
                <h2> Nombre 1</h2>
                <h3> Puesto </h3>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat iste quas, tenetur earum,
                    eligendi blanditiis nostrum provident architecto quidem nam reiciendis modi nihil tempore
                    consequatur. Tenetur voluptatibus ducimus consectetur ipsa? </p>
            </li>
            <li>
                <img src="images/emp/3.png" alt="">
                <h2> Nombre 1</h2>
                <h3> Puesto </h3>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat iste quas, tenetur earum,
                    eligendi blanditiis nostrum provident architecto quidem nam reiciendis modi nihil tempore
                    consequatur. Tenetur voluptatibus ducimus consectetur ipsa? </p>
            </li>
            <li>
                <img src="images/emp/4.png" alt="">
                <h2> Nombre 1</h2>
                <h3> Puesto </h3>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat iste quas, tenetur earum,
                    eligendi blanditiis nostrum provident architecto quidem nam reiciendis modi nihil tempore
                    consequatur. Tenetur voluptatibus ducimus consectetur ipsa? </p>
            </li>
        </ul>
    </div>
</div>