<div>
    <h1>Novedades</h1>
    {{#each novedades}}
    <div class="articulo">
        <h2>{{titulo}}</h2>
        <h3>{{subtitulo}}</h3>
        <h4>{{date hora_fecha "DD/MM/YYYY"}}</h4>
        <p>{{contenido}}</p>
        <hr>
    </div>
    {{/each}}
</div>