<h1>{{juego.nombre}}</h1>
<p>{{juego.descripcion}}</p>

<iframe width="95%" height="500" src="https://www.youtube.com/embed/UAO2urG23S4" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>