<div>
    <h1>Videojuegos</h1>
    <div class="lista-juego">
        <div class="juego">
            <img src="images/juegos/hollow.png" alt="">
            <div class="juego-cont">
                <h2>juego 1</h2>
                <h3>Fecha lanzamiento</h3>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequuntur optio nisi
                    voluptate minus excepturi, libero delectus cumque recusandae facilis nulla quae! Sunt
                    nesciunt
                    commodi amet optio. Alias, perferendis nulla!</h3>
            </div>
        </div>
        <div class="juego">
            <img src="images/juegos/dust.png" alt="">
            <div class="juego-cont">
                <h2>juego 1</h2>
                <h3>Fecha lanzamiento</h3>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequuntur optio nisi
                    voluptate minus excepturi, libero delectus cumque recusandae facilis nulla quae! Sunt
                    nesciunt
                    commodi amet optio. Alias, perferendis nulla!</h3>
            </div>
        </div>
        <div class="juego">
            <img src="images/juegos/blood.png" alt="">
            <div class="juego-cont">
                <h2>juego 1</h2>
                <h3>Fecha lanzamiento</h3>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequuntur optio nisi
                    voluptate minus excepturi, libero delectus cumque recusandae facilis nulla quae! Sunt
                    nesciunt
                    commodi amet optio. Alias, perferendis nulla!</h3>
            </div>
        </div>
        <div class="juego">
            <img src="images/juegos/ori.png" alt="">
            <div class="juego-cont">
                <h2>juego 1</h2>
                <h3>Fecha lanzamiento</h3>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequuntur optio nisi
                    voluptate minus excepturi, libero delectus cumque recusandae facilis nulla quae! Sunt
                    nesciunt
                    commodi amet optio. Alias, perferendis nulla!</h3>
            </div>
        </div>
    </div>
</div>