<h1>Prueba de home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio assumenda vitae hic iusto fugiat. Non, temporibus nisi voluptatum delectus architecto voluptates natus! Vel deleniti quisquam cupiditate minima, esse exercitationem aperiam!</p>
<ul>
    <li><a href="/">al /</a></li>
    <li><a href="/home">al home</a></li>
    <li><a href="/galeria">al galeria</a></li>
    <li><a href="/listado">al listado</a></li>
</ul>