body{
    font-family: 'Rubik';
    font-size: 16px;
    margin: 0;
}

header{
    background-color: black;
}

header h1{
    color: white;
    display: inline;
    position: relative;
    bottom: 15px;
}

nav{
    justify-content: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
    margin: auto;
    max-width: 960px;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    text-align: center;
    color: black;
    display: block;
    text-decoration: none;
    margin-block: 10px;
}
nav ul li a:hover{
    color: white;
}

main{
    padding-block: 5px;
}
main * h1{
    padding-top: 15px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

/* PIE DE PAGINA INICIO */

footer{
    height: 200px;
    text-align: center;
}

footer ul{
    padding-left: 0;
    list-style: none;
}

.flex{
    display: flex;
}

.flex ul{
    width: 30%;
}

.redes{
    width: 70%;
}

.redes-icons {
    font-size: 50px;
}

/* PIE DE PAGINA FIN */

.holder{
    max-width: 960px;
    margin: 0 auto;
    padding-inline: 45px;
}

.relative{
    position: relative;
}

#homeimg{
    max-width: 100%;
}
.relative p{
    color: white;
}
.activo{
    background-color: white;
}


/* HOME INICIO */

.bienvenido{
    width: 80%;
    text-align: center;
    position: absolute;
    padding-inline: 10%;
    bottom: 10%;
}

.testimonios h1{
    text-align: center;
}

.testimonios ul{
    list-style: none;
    padding-inline: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonios ul li{
    margin-block: 5px;
    width: 49%;
    border: solid white 2px
}

.testimonios ul li p{
    font-size: 15px;
    color: grey;
    padding-inline: 20px;
}
.testimonios ul li div p{
    color: white;
    text-decoration: underline;
    padding-left: 20px;
    font-size: 20px;
}
/* HOME FIN */

/* NOSOTROS INICIO */

.historia h1{
    text-align: center;
    font-size: 30px;
}

.historia p{
    font-size: 15px;
}

.equipo{
    padding-inline: auto;
}


.equipo h1{
    text-align: center;
    font-size: 30px;

}

.personas{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline: 10px;
}

.personas li{
        text-align: center;
        background: #262626;
        margin-block: 5px;
        width: 220px;
        border: solid white 2px
    }

.personas li img{
        padding-top: 10px;
        border-radius: 15%;
}
.personas li img:hover{
        transform: scale(110%);
}

/* NOSOTROS FIN */

/* GALERIA INICIO */

.galeria{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galeria img{
    /* border: 1px solid white; */
    background-color: gray;
    padding: 4px;
    margin: 1px; 
    box-sizing: border-box;
    transition-duration: 0.5s;
}

.galeria img:hover{
    transform: scale(1.1);

}

/* GALERIA FIN */

/* NOVEDADES INICIO */


.articulo{
    padding-inline: 10px;
    padding-block: 5px;
    margin-bottom: 5px;
    position: relative;
}

.articulo h4{
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 0;

}


/* NOVEDADES FIN */

/* VIDEOJUEGOS INICIO */

.lista-juego{
    align-items: center;
}

.juego{
    display: flex;
    border: 5px solid white;
    border-radius: 15px;
    border-color: white;
    margin-block: 10px;
    margin-inline: 10px;
}

.juego img{
    border-radius: 11px;
    max-width: 30%;
}

.juego:nth-child(even){
    padding-right: 1px;
    flex-direction: row-reverse;
}

.juego-cont{
    width: 70%;
    padding-inline: 20px;
}

.juego-cont h2{
    font-size: 35px;
}

/* VIDEOJUEGOS FIN */


/* CONTACTO INICIO */

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    padding: 30px;
    margin-bottom: 10px;

}

.formulario, .datos{
    width: 420px;
    margin-block: 20px
}

.formulario p{
    display: flex;
    padding-left: 10%;
}

.formulario p input{
    width: 335px;
}

.formulario * textarea{
    resize: vertical;
    width: 100%;
}

.formulario * label{
    min-width: 80px;
}

.datos{
    text-align: center;
}
.datos * li{
    font-size: 14px;
    margin-block: 5px;
    text-align: left;    
}

.ml-10{
    margin-left: 116px;
}


/* CONTACTO FIN */

