body {
    background-image: linear-gradient(to left top, #484646, #373535, #262525, #171616, #000000);

}

a{
    color: black;
}

a:visited{
    color: black;
}

.testimonios ul li{
    background-image: linear-gradient(to left top, #484646, #373535, #262525, #171616, #000000);background-image: linear-gradient(to left, #1d1d1d, #181818, #121212, #0a0a0a, #000000);
}

nav,
footer {
    background: rgba(82, 82, 82, 0.64);
    background: linear-gradient(0deg, rgba(82, 82, 82, 0.64) 0%, #636363 20%);
    background: -webkit-linear-gradient(0deg, rgba(82, 82, 82, 0.64) 0%, #636363 20%);
    background: -moz-linear-gradient(0deg, rgba(82, 82, 82, 0.64) 0%, #636363 20%);
    color: white;
}

main{
    color: white;
    box-shadow: 1px 2px 30px 20px rgba(13,13,13,0.75);
    -webkit-box-shadow: 1px 2px 30px 20px rgba(13,13,13,0.75);
    -moz-box-shadow: 1px 2px 30px 20px rgba(13,13,13,0.75);
}